*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    display: flex;
}

.menu{
    width: 300px;
    height: 100vh;
    background-color: #111827;
    position: fixed;
    left: 0;
    top: 0;
}

.menu .logo{
    display: flex;
    align-items: center;
    padding: 30px 0 0 30px;
    color: #ffffff;
}

.menu .items{
    margin-top: 40px;
}
.menu .items li{
    padding: 15px 0;
    transition: 0.3s ease-in;
}

.menu .items li:hover{
    background-color: #253047;
    cursor: pointer;
}

.menu .items li:hover i,
.menu .items li:hover a{
    color: #F3F4F6;
}

.menu .items li:nth-child(1){
    border-left: 4px solid #fff; 
}
.menu .items li i{
    color: rgb(34, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

.menu .items li a{
    color: rgb(134, 141, 151);
    transition: 0.3s ease-in;
}

/* interface design */
.interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
.interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #594ef7;
    background-color: #fff;
    position: fixed;
    width: calc(100% - 300px);
}
.interface .navigation .search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
.interface .navigation .search i{
    margin-right: 14px;
}
.interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}
.interface .navigation .profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    cursor: pointer;
}
.interface .navigation .profile img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    font-size: 24px;
    font-weight: 700;
    padding: 30px 0 30px 30px;
    color: #444a53;
    margin-top: 70px;
}
/* start table style */
.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #FAF9FB;
    text-align: start;
    padding: 15px;
}
tbody tr td{
    padding: 10px 15px;
}

